<ion-content>
  <ion-list>
    <ion-item *ngFor="let paciente of pacientes" class="ion-item-flex-end">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>{{ paciente.nome }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Tipo: {{ paciente.sexo === 'F' ?'Feminino' : 'Masculino' }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>{{ paciente.dataNascto }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-buttons slot="end" class="ion-buttons-fab">
        <ion-fab-button [routerLink]="['edicao', paciente.id]">
          <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="confirmarExclusao(paciente)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>