<ion-content>
  <ion-list>
    <ion-item *ngFor="let consulta of consultas">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>OPA{{ consulta.id }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>{{ consulta.medico }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>CRM : {{ consulta.tipo }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>