<ion-content>
  <ion-list>
    <ion-item *ngFor="let medico of medicos">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>{{ medico.nome }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>{{ medico.especialidade }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>CRM : {{ medico.crm }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Turno : {{ medico.turno === 'D' ? 'Diurno' : 'Noturno' }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Data Admissão : {{ medico.dataAdmissao | date: 'dd/MM/yyyy' }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-buttons slot="end" class="ion-buttons-fab">
        <ion-fab-button [routerLink]="['edicao', medico.id]">
          <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="confirmarExclusao(medico)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>